---
import Card from "../Card.astro";
import TechIcons from "../TechIcons";
import ProjectLinks from "./ProjectLinks.astro";

const { project } = Astro.props;
const { name, img, about, techs, githubLink, productLink, logo } = project;
---

<Card>
  <Fragment slot="header">
    <div class="flex justify-start gap-5 items-center">
      {logo && <img class="w-12 rounded-full" src={`icons/${logo}`} />}
      <h1 class="text-3xl">{name}</h1>
    </div>
  </Fragment>
  <Fragment slot="body">
    <div class="flex flex-wrap-reverse items-center justify-center gap-5">
      <div class="relative basis-1/2 grow self-stretch">
        <div class="text-base">{about?.motivation}</div>
        <div class="my-5 text-base">{about?.description}</div>
        <div class="h-[100px]"></div>
        <div
          class="flex w-full justify-between items-start flex-wrap gap-3 absolute bottom-0"
        >
          <TechIcons techs={techs} client:load />
          <div class="flex flex-row gap-2 items-center">
            <ProjectLinks githubLink={githubLink} productLink={productLink} />
          </div>
        </div>
      </div>
      <img class="w-[400px] grow py-2" src={`/images/${img}`} />
    </div>
  </Fragment>
</Card>
