---
const { href, text, icon } = Astro.props;
---

<a href={`#${href}`} aria-label={href}>
  <div class="flex flex-row gap-1 transition-all hover:scale-105">
    {icon && <img class="w-5 dark:invert" src={`/icons/${icon}`} alt={href} />}
    <p class="hidden sm:block">{text}</p>
  </div>
</a>
