---
import Card from "../Card.astro";
import TechIcons from "../TechIcons";
import { Image } from "astro:assets";

const { experience } = Astro.props;
const { role, name, startDate, endDate, deliverables, logo, techs } =
  experience;
---

<Card>
  <Fragment slot="header">
    <Image
      class="rounded-full"
      width="64"
      height="64"
      src={logo}
      alt={`${name}'s logo`}
    />
    <div>
      <p>{role}</p>
      <h3 class="text-base text-blue-900 dark:text-teal-500" aria-label={name}>
        {name}
      </h3>
      <p class="text-sm">
        {startDate} - {endDate}
      </p>
    </div>
  </Fragment>
  <Fragment slot="body"
    ><ul class="list-disc list-outside pl-4">
      {deliverables.map((d) => <li class="my-2">{d}</li>)}
    </ul>
    <div class="h-[20px]"></div>
    <div class="bottom-0"><TechIcons techs={techs} client:load /></div>
  </Fragment>
</Card>
